
		
		table
{
    border-collapse: collapse;
	margin-left:282px;
	width:1100px;
	
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 3px solid black;
	margin:200px;
	text-align: left;
    padding: 5px;
	
	}

th {
    background-color:gray;
    color: white;
}	
h4
{
Font-Weight: Bold;
Font-Size: Large;
Font-Family: Cursive;
margin-left:250px;



}


.delete{
    color: red;
	cursor: pointer;
}
.valider{
    color: green;
	cursor: pointer;
}
.update{
    color: blue;
	cursor: pointer;
}
.annuler{
    color: orange;
	cursor: pointer;
}

.fiche{
    color: blue;
	cursor: pointer;
}
.approuver{
    color: orange;
	cursor: pointer;
}





.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
	
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}